@font-face{
    font-family: lemonmilk;
    src:url('../rsc/font/LEMONMILK-Bold.otf');
    font-weight: bold;
}
@font-face{
  font-family: lemonmilk;
  src:url('../rsc/font/LEMONMILK-Light.otf');
  font-weight: light;
}

@font-face{
  font-family: lemonmilk;
  src:url('../rsc/font/LEMONMILK-Regular.otf');
  font-weight: normal;
}

body {
  font-family: 'lemonmilk', 'lemonmilk', lemonmilk;
  margin: 10px;
}