:root {
    --purple: rgb(100,0,175);
}
body {
    background-color: white;
}
.hov-content-wrapper {
    width: 100%;
    height: auto;
}
.hov-main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hov-main-name {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    transform: rotate(-90deg);
    transform-origin: left top;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-start;
    position: absolute;
    transition-duration: 1s;
    left: 0px;
    top: 120px;
}

.hov-main-last-update {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: right top;
    -o-transform: rotate(90deg);
    -o-transform-origin: right top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: right top;
    transform: rotate(-90deg);
    transform-origin: right top;
    text-align: left;
    font-size: 15px;
    font-weight: lighter;
    align-self: flex-start;
    position: absolute;
    transition-duration: 1s;
    right: 20px;
    bottom: 105px;
}

.hov-main-wrapper {
    width: 70vw;
    max-width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hov-main-wrapper > h1{
    transition-duration: 1s;
    font-size: 36px;
    text-align: center;
    width: 100%;
    margin: 5px;
}

.hov-main-profile-wrapper{
    width: 80%;
    height: auto;
    padding: 1vw;
    border: solid black 20px;
    background-color: white;
    position: relative;
}

.hov-main-profile-wrapper > img {
    width: 100%;
    height: auto;
}
.hov-main-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    transition-duration: 1s;
    border: var(--purple) solid 10px;
    border-radius: 50%;
    left: calc(90% + 5vw);
    bottom: 50px;
    z-index: -1;
    top: 90%;
    transition-duration: 1s;
}
.hov-main-rect {
    position: absolute;
    width: 10px;
    height: 30px;
    transition-duration: 1s;
    left: -8vw;
    top: -15%;
    border: var(--purple) solid 10px;
    z-index: -1;
    transition-duration: 1s;
}

@media screen and (max-width: 600px) {
    .hov-main-name {
        font-size: 16px;
        font-weight: normal;
        top: 90px;
    }

    .hov-main-last-update {
        font-size: 12px;
        bottom: 85px;
    }

    .hov-main-wrapper > h1{
        font-size: 6vw;
    }
    .hov-main-profile-wrapper{
        border: solid black 3vw;
    }
    .hov-main-rect {
        width: 20px;
        left: -8vw;
        top: -5vw;
        border: var(--purple) solid 2vw;
    }
    .hov-main-circle {
        width: 10vw;
        height: 10vw;
        border: var(--purple) solid 2vw;
        left: calc(90% + 5vw);
        bottom: 50px;
    }
}