
.hov-menu-wrapper {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: flex-end;
  align-items: flex-end;
}

.hov-menu-button {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  width:  2.5em;
  height: 2.5em;
  cursor: pointer;
  transition-duration: 0.3s;
}

.hov-menu-button img {
  opacity: 0.5;
  filter: invert(100%) sepia(0%);
}

.hov-menu-button:hover {
  width: 3em;
  height: 3em;
  transition-duration: 0.3s;
  cursor: pointer;
}
.hov-menu-button:active {
  border: none;
}
.hov-menu-button img:hover {
  width: 3em;
  height: 3em;
  transition-duration: 0.3s;
  opacity: 1;
}

#hov-menu-button-current {
  opacity: 1;
}