body {
  background-color: #131220;
}

.hov-music-contents-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hov-music-music-title {
  color: white;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0.25em;
  opacity: 0.9;
}

.hov-music-music-singer {
  color: white;
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1em;
  opacity: 0.8;
}

.hov-music-control-section {
  height: auto;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
}

.hov-music-bar {
  display: flex;
  align-items: center;
  width: 20em;
  height: 0.06em;
}

.hov-music-time-bar {
  background-color: white;
  width: 0%;
  height: 100%;
  border-radius: 0.06em;
}

.hov-music-controller {
  position: relative;
  top: -1em;
  left: -1em;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;

  cursor: pointer;
}

.hov-music-controller-handle {
  width: 0.7em;
  height: 0.7em;
  border-radius: 2em;
  background-color: #89888F;
}

.hov-music-rest-bar {
  background-color: #89888F;
  flex: auto;
  height: 100%;
  border-radius: 0.06em;
}

.hov-music-buttons { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3em;
}

.hov-music-buttons button{
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hov-music-buttons button img {
  opacity: 0.5;
  filter: invert(100%) sepia(0%);
  transition-duration: 0.3s;
}

.hov-music-buttons button img:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.hov-music-controller-circle {
  background-color: white;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
}

.hov-music-time {
  display: flex;
  width: 20em;
  justify-content: stretch;
  justify-items: space-between;
}

.hov-music-current-time {
  position: relative;
  font-size: 0.8em;
  top: 0;
  left: 0;
  color: white;
  opacity: 0.8;
  font-weight: bold;
}

.hov-music-total-time {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
  top: 0;
  right: -100;
  color: #89888F;
}

.hov-music-info-section {
  width: 20em;
}

.hov-music-music-title {
  width: 100%;
}