.wrapper {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: stretch;
    place-content: center center;
}

.header {
    width: 100px;
    height: 100px;
    background: rgb(134, 194, 149);
}
.content {
    width: 100px;
    height: 100px;
    background: rgb(205, 255, 158);
}
.nav {
    width: 100px;
    height: 100px;
    background: rgb(255, 172, 147);
}
.footer {
    width: 100px;
    color:rgb(205, 255, 158);
    background: rgb(4, 0, 59);
}