body {
    margin: 5rem;
    height: calc(100vh - 10rem);
    background-color: #836948;
    background-image: url('./rsc/glasses.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6rem;
}

h3 {
    font-size: 6rem;
    margin: 1rem;
    text-align: center;
    color: #ffffff;
}

h4 {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
    color: #ffffff;
}

.contents {
    display: block;
    width: auto;
    margin: auto;
}

.js-clock {
    width: auto;
}

.js-form {
    width: auto;
}

.js-text {
    width: auto;
}

.js-form input {
    display: block;
    margin: auto;
    width: auto;
}