body {
  background-color: white;
}

.hov-music-contents-wrapper {
  height: calc(100vh - 80px);
  padding: 40px 0px;
}

@media screen and (min-width: 821px) {
  .hov-music-contents-wrapper {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-content: stretch;
  }
  .hov-music-list-wrapper {
    width: 30em;
    max-width: 0;
    height: 80vh;
    overflow: hidden;
    transition: max-width 0.3s ease-out;
  }
  .hov-music-list-wrapper-show {
    width: 30em;
    max-width: 100%;
    height: 80vh;
    overflow-y: scroll;
    transition: max-width 0.3s ease-out;
  }
  .hov-music-cover-image img{
    position: absolute;
    top: calc(50% - 10em);
    left: calc(50% - 10em);
    filter: none;
    width: 20em;
    height: auto;
    overflow: hidden;
  }
  .hov-music-player-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .hov-music-player-contents {
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .hov-music-player-contents-with-list {
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
}
#current-selected-music {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 820px) {
  .hov-music-contents-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }
  .hov-music-list-wrapper {
    display: none;
    width: 100%;
    height: 80vh;
    flex: auto;
  }
  .hov-music-list-wrapper-show {
    display: block;
    width: 100%;
    height: 80vh;
    max-width: 100%;
    padding-bottom: 20px;
    overflow-y: scroll;
  }
  .hov-music-cover-image img{
    position: absolute;
    top: calc(50% - 8em);
    left: calc(50% - 8em);
    filter: none;
    width: 16em;
    height: auto;
    overflow: hidden;
  }
  .hov-music-player-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .hov-music-player-contents {
    width: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .hov-music-player-contents-with-list {
    display: none;
  }
}
.hov-music-cover-section{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 3em;
}

.hov-music-cover-background{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('../rsc/music-img/lalalalovesong.png');
  background-size: 100%;
  background-position: center;
  filter: blur(2em);
}

.hov-music-element {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 20em;
  height: 2.5em;
  cursor: pointer;
}

.hov-music-element-info {
  padding-left: 0.5em;
  height: 2.5em;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  flex: auto;
  color: black;
  opacity: 0.7;
}

.hov-music-volume-controller {
  display: none;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
  height: auto;
  width: 80%;
  transition-duration: 0.5s;
}

.hov-music-volume-controller-handle {
  -webkit-appearance: none;
  
  height: 0.5em;
  
  background-color: #89888F;
  outline: none;
  border-radius: 0.25em;
  cursor: pointer;
  overflow:hidden;

  animation: stretch-out 0.5s;
  animation-fill-mode: forwards;
}

.hov-music-current-volume {
  width: 4em;
  font-weight: lighter;
  font-size: 0.8em;
  text-align: center;
  color: black;
  margin: 0;
}

.hov-music-volume-controller-handle::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  background-color: black;
  box-shadow: -20em 0 0 20em black;
}


@keyframes stretch-out{
  from {
    width: 0px;
  }
  to {
    width: 80%;
  }
}

.hov-music-element-move {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 100%;
  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0.5;
}

.hov-music-element-move:hover {
  opacity: 0.9;
}

.hov-music-element-move img {
  width: 1.5em;
  height: 1.5em;
}

.hov-music-element-thumbnail {
  width: 2.5em;
  height: 2.5em;
}

.hov-music-element h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;

  overflow: hidden;
  black-space: nowrap;
  text-overflow: clip;
}

.hov-music-element h4 {
  font-size: 0.5em;
  font-weight: lighter;
  margin: 0;

  overflow: hidden;
  black-space: nowrap;
  text-overflow: clip;
}

.hov-music-play-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: nowrap;
  overflow: hidden;

  list-style: none;
  margin: 0;
  padding: 0;
}

.hov-music-music-title {
  color: black;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0.25em;
  opacity: 0.9;
}

.hov-music-music-singer {
  color: black;
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1em;
  opacity: 0.8;
}

.hov-music-control-section {
  height: auto;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
}

.hov-music-bar {
  display: flex;
  align-items: center;
  width: 20em;
  height: 0.06em;
}

.hov-music-time-bar {
  background-color: black;
  width: 0%;
  height: 100%;
  border-radius: 0.06em;
}

.hov-music-controller {
  position: relative;
  top: -1em;
  left: -1em;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;

  cursor: pointer;
}

.hov-music-controller-handle {
  width: 0.7em;
  height: 0.7em;
  border-radius: 2em;
  background-color: #89888F;
}

.hov-music-rest-bar {
  background-color: #89888F;
  flex: auto;
  height: 100%;
  border-radius: 0.06em;
}

.hov-music-buttons { 
  display: flex;
  width: 20em;
  justify-content: space-between;
  align-items: flex-center;
}

.hov-music-buttons button{
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.5s;
}
.hov-music-buttons button img {
  opacity: 0.5;
  width: 2em;
  height: 2em;
  transition-duration: 0.3s;
}

.hov-music-buttons button img:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.hov-music-controller-circle {
  background-color: black;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
}

.hov-music-time {
  display: flex;
  width: 20em;
  justify-content: stretch;
  justify-items: space-between;
}

.hov-music-current-time {
  position: relative;
  font-size: 0.8em;
  top: 0;
  left: 0;
  color: black;
  opacity: 0.8;
  font-weight: bold;
}

.hov-music-total-time {
  width: 100%;
  font-size: 0.8em;
  text-align: right;
  top: 0;
  right: -100;
  color: #89888F;
}

.hov-music-info-section {
  width: 20em;
}

.hov-music-music-title {
  width: 100%;
}