.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root {
  --purple: rgb(67, 22, 102);
}
body {
  height: 100vh;
  background-color: var(--purple);
  position: relative;
}

.hov-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  width: calc(100vw - 80px);
  height: 100vh;
}

.hov-page {
  width: calc(100vw - 240px);
  height: calc(100vh - 150px);
  padding: 40px;
  border-radius: 30px;
  background-color: white;
  overflow: scroll;
}

.hov-content-wrapper {
  width: 100%;
  height: auto;
  transition-duration: 1s;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
