.App {
  text-align: center;
}

:root {
  --purple: rgb(67, 22, 102);
}

body {
  height: 100vh;
  position: relative;
}

.hov-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.hov-page {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  padding: 40px;
  border-radius: 30px;
  background-color: white;
  overflow: scroll;
}

.hov-content-wrapper {
  width: 100%;
  height: auto;
  transition-duration: 1s;
  position: absolute;
}