.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root {
  --purple: rgb(100,0,175);
}
body {
  background-color: white;
  position: relative;
  overflow: hidden;
}

.hov-page {
  width: 100%;
  height: 100vh;
}

.hov-content-wrapper {
  width: 100%;
  height: auto;
  transition-duration: 1s;
  position: absolute;
}

.page1 > .hov-content-wrapper {
  top: 0px;
}

.page2 > .hov-content-wrapper {
  top: -100vh;
}

.page3 > .hov-content-wrapper {
  top: -200vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
